$Anakiwa: #9ed8ff;
$Black: #000;
$Bombay: #AFB3B6;
$CornflowerBlue: #6195ED;
$SorrellBrown: #c4a97e;
$White: #ffffff;

.storage {
  background-color: $CornflowerBlue;
  .container {
    max-width: 95%;
  }
}

.itemOverlay {
  padding: 10px;
}

.item {
  background-color: $Anakiwa;
  // border-radius: 10px;
  border: 20px solid $White;
  min-height: 200px;
  padding: 10px;
}

.heading {
  display: flex;
  span:first-child {
    text-align: left;
  }

  &__dates {
    display: flex;
    flex-direction: column;
    font-size: 0.45em;

    span {
      text-align: right!important;
    }
  }
}

.empty-heading {
  display: flex;
  input {
    font-size: 1.2em;
    width: 100%;
  }
}

.content {
  display: flex;

  > * {
    background-color: rgba(255,255,255,0.2);
    background-clip: content-box;
    margin-bottom: 5px;
  }

  .modified {
    background-color: rgba(0,0,0,0.2);
  }

  div {
    min-width:50px;
    min-height:10px;
  }

  .quantity {
    .selected{
      // background-color: rgb(166, 226, 110);
      border: 2px solid black;
    }
    .row {
      display: flex;
      margin-bottom: 2px;

    }

    &-list {
      font-size: 0.8em;
      margin: 0;
      list-style: none;
      text-align: center;
      -webkit-padding-start: 0;

      li{
        margin-bottom: 2px;
      }
    }

    &-value {
      background-color: rgba(255, 255, 255, 1);
      background-clip: content-box;
    }

    &-input {
      background-clip: content-box;
      border: none;
      text-align: center;
    }
  }

  .buttons {
    &-row {
      padding: 0px;

      .btn {
        margin: 2px;
      }
    }
  }
}

.option-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  .btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 70px;
  }
}

.empty-option-buttons {
  padding-top: 25px;

  .btn-extra-lg {
    padding: 1rem 2rem;
  }
}
.summary {
  background-color: $White;
  &__list {
    list-style: none;
    display: flex;

    li {
      display: block;
      font-size: 0.8em;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
